<!DOCTYPE html>
<html>
<head>
  <title>Khode Academy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/ruby.js' %>
  <%= javascript_include_tag '/lib/codemirror.js' %>
  <%= javascript_include_tag '/mode/javascript/javascript.js' %>
  <%= javascript_include_tag '/mode/ruby/ruby.js' %>
  <%= stylesheet_link_tag    '/lib/codemirror.css' %>
  <%= stylesheet_link_tag    '/theme/solarized.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
